name: CI

on:
  push:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Build
      run: dotnet build -c Release

    - name: Solve all
      run: dotnet run -c Release --no-build -- all
      working-directory: ./src/Runner
      
  repo-sync:
    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
    permissions:
      contents: write
      pull-requests: write

    steps:
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v4

      - name: actions-template-sync
        uses: AndreasAugustin/actions-template-sync@v2
        with:
          source_repo_path: eduherminio/AdventOfCode.MultiYearTemplate
          pr_labels: template-sync
          upstream_branch: main
          pr_commit_msg: "chore: sync with template"
          files_to_exclude: .github/workflows/
